<!--
templateType: global_partial
label: Footer
-->

<footer class="footer footer-cart">
    <div class="footer__container content-wrapper">
        <div class="container-fluid footer-top-title">
            <div class="row-fluid-wrapper">
                <div class="row-fluid">
                    <div class="span12 widget-span widget-type-cell" data-widget-type="cell" data-x="0" data-w="12">
                        {% module "header" path="@hubspot/header" header_tag="h2" value="Practice Lifelong Exellence" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
