{% set query = "order=-createdate&is_published=Yes&limit=3"%}
{% set items = "name, page_url, course_image, ce_hours, course_type, price__usd_, presented_by, specialty_area, format" %}
{% set objects = crm_objects("courses", query , items, "formatting=true") %} 
{% macro loop_m(value)  %}{% for item in value %} {{ item|regex_replace("[^a-zA-Z]", "") }}{% endfor %}{% endmacro %} 
{% if dynamic_page_crm_object %}
{% else %}
<div class="training-suggestions">
    <div class="content-wrapper">
        <div class="title ">
            <h2 class="heading-1 mb-56 m-col-7">{{ module.title }}</h2>
        </div>
        <div class="row course-bi-inst">
            <div class="flex-row flex-wrap grid">
                {% for object in objects.results %}
                {% set instructor = crm_associations(object.id, 'USER_DEFINED', 145, "limit=100","name, page_url, headshot_link") %}
                <div class="element-item course-item  date {{ object.event_start_date|datetimeformat('%e/%m/%Y') }} {{ loop_m(object.certificate)|lower }} {{ object.ce_hours|regex_replace("[^0-9]", "")|lower}} {{ loop_m(object.specialty_area)|lower }} {{ loop_m(object.presented_by)|lower }} {{ loop_m(object.format)|lower }} {{ loop_m(object.course_type)|lower }} {{ instructor.results[0].name|regex_replace("[^a-zA-Z^0-9]", "")|lower }} {{ object.in_partnership_with__search_|lower|replace(' ', '-')|lower }}" data-category="{{ loop_m(object.certificate)|lower }} {{ object.ce_hours|lower|regex_replace("[^a-zA-Z^0-9]", "")|lower}} {{ loop_m(object.specialty_area)|lower }} {{ loop_m(object.presented_by)|lower }} {{ loop_m(object.format)|lower }} {{ loop_m(object.course_type)|lower }} {{ instructor.results[0].name|regex_replace("[^a-zA-Z^0-9]", "")|lower }} {{ object.event_start_date|datetimeformat('%e/%m/%Y') }} {{ object.in_partnership_with__search_|lower|replace(' ', '-')|lower }}">
                    <div class="c-inner">
                        {% set href = module.link_field.url.href %}
                        {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                        {% endif %}
                        <a href="{{ href }}/{{ object.page_url }}"
                           {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                           {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                           >
                            <div class="image">
                                {% if object.course_image %}<img src="{{ object.course_image }}" alt=" {{ object.name }}" loading="lazy">{% endif %}
                                {% if object.ce_hours or object.length %}<span class="hours number">{{ object.length }} {% if object.ce_hours %}/ {{ object.ce_hours }}{% endif %}</span>{% endif %}
                            </div>
                            <div class="pl-32 pr-32 pb-40 pt-40">
                                <div class="instructor-image">
                                    {% for headshot in instructor.results %}
                                    {% if loop.index <= 3%}
                                    {% if headshot.headshot_link %}  
                                    <img class="author-img author-{{loop.index}}" src="{{ headshot.headshot_link}}" loading="lazy">
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="instructor-title">
                                    {% for instructorname in instructor.results %}
                                    {% if loop.index <= 3%}
                                    {% if instructorname.name %}
                                    <h5 class="des berry-jam mb-5">{{ instructorname.name }}</h5>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <h3 class="title midnight-blue mb-16 name">
                                    {{ object.name }} 
                                </h3>
                                <h5 class="event glacial-blue-ice mb-16 p-small">
                                    {% if object.course_type == "On Demand" %}
                                    <span>Available On Demand</span>
                                    {% elif object.course_type == "Live" %}
                                    {% if object.event_start_date|datetimeformat('%e/%m/%Y') ==  object.event_end_date|datetimeformat('%e/%m/%Y')  %}
                                    <span><span class="date" >{{ object.event_start_date|datetimeformat('%e/%m/%Y') }}</span>Event Date: {{ object.event_start_date|datetimeformat('%b. %e, %Y') }} | {{ object.start_time }} - {{ object.end_time }}</span>
                                    {% else %}
                                    <span><span class="date" >{{ object.event_start_date|datetimeformat('%e/%m/%Y') }}</span>Event Date: {{ object.event_start_date|datetimeformat('%b. %e, %Y') }} - {{ object.event_end_date|datetimeformat('%b. %e, %Y') }}</span>
                                    <br><span>{{ object.start_time }} - {{ object.end_time }}</span>
                                    {% endif %}
                                    {% else %}
                                    <span>Available On Demand</span>
                                    {% endif %}
                                </h5>
                                <div class="flex-row justify-bw align-center">
                                    <div class="price glacial-blue-ice price" data-prices="{{ object.price__usd_ }}">{% if object.price__usd_%}{{ object.price__usd_|format_currency("en-US") }}{% else %}$0{% endif %}</div>
                                    <div class="uni">
                                        {% if object.partner_logo_url %}
                                        <img src="{{ object.partner_logo_url }}" width="48" loading="lazy">
                                        {% endif %}
                                        {% if object.badge_earning == "Yes" %}
                                        <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Concept-medallion.svg" alt="PAU" loading="lazy">
                                        {% endif %}

                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}


<style>
    {% scope_css %}
    .training-suggestions{
        {{ module.style.desktop_spacing.css }};
    }
    @media(max-width:767px){
        .training-suggestions{
            {{ module.style.mobile_spacing.css }};
        }
    }
    {% end_scope_css %}
</style>
