<div class="course-filter event-object">
    <div class="content-wrapper">
        <div class="flex-row flex-end event-top-content ">
            <div class="m-col-8">
                <div class="inner">
                    {{ module.top_content }}
                </div>
            </div>
        </div>
    </div>
</div>
{% set items = "name, introduction, page_url, course_image, length,start_time, end_time ,course_type,partner_logo_url, price__usd_, presented_by, specialty_area, format, ce_hours_dropdown, certificate, badge_earning, event_start_date, event_end_date" %}

{% set objects = crm_objects("courses", "order=event_start_date&is_published=Yes&course_type=Live") %}
{% set per_page = 9 %}
{% set offset_number = 0 %}
{% set total_pages = objects.total|divide(per_page)|round(0,"ceil") %}

{% if not request.query_dict.page %}
{% set page_number = 1 %}
{% elif request.query_dict.page %}
{% set page_number = request.query_dict.page %}
{% set offset_number = (page_number - 1) * per_page %}
{% endif %}

{# the database query #}

{% set query = "order=event_start_date&is_published=Yes&course_type=Live&limit=" ~ per_page ~ "&offset=" ~ offset_number %}

{% set objects = crm_objects("courses", query, items, "formatting=true") %}
<div class="pt-96">
    <div class="row course-bi-inst event-object" id="articles">
        <div class="flex-row flex-wrap isotope" >
            {% for object in objects.results %}
            {% set instructor = crm_associations(object.id, 'USER_DEFINED', 145, "limit=100","name, page_url, headshot_link") %}
            <div class="element-item course-item {{ object.ce_hours|regex_replace("[^a-zA-Z^0-9]", "")|lower}} {{ loop_m(object.course_type)|lower }} {{ loop_m(object.certificate)|lower }} {{ loop_m(object.presented_by)|lower }} {{ loop_m(object.certificate)|lower }} {{ loop_m(object.specialty_area)|lower }} {{ loop_m(object.presented_by)|lower }} {{ loop_m(object.format)|lower }} {{ instructor.results[0].name|regex_replace("[^a-zA-Z^0-9]", "")|lower }} " data-category="{{ loop_m(object.certificate)|lower }} {{ object.ce_hours|lower|regex_replace("[^a-zA-Z^0-9]", "")|lower}} {{ loop_m(object.specialty_area)|lower }} {{ loop_m(object.presented_by)|lower }} {{ loop_m(object.format)|lower }} {{ loop_m(object.course_type)|lower }} {{ instructor.results[0].name|regex_replace("[^a-zA-Z^0-9]", "")|lower }}">
                <div class="c-inner">

                    {% set href = module.link_field.url.href %}
                    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href }}/{{ object.page_url }}"
                       {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                       {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                       >
                        <div class="image">
                            {% if object.course_image %}<img src="{{ object.course_image }}" alt=" {{ object.name }}">{% endif %}
                            {% if object.ce_hours_dropdown or object.length %}
                                <span class="hours number">{{ object.length }} {% if object.ce_hours_dropdown %}/ {{ object.ce_hours_dropdown }}{% if object.ce_hours_dropdown == "1" %} CE{% else %} CEs{% endif %}{% endif %}</span>
                            {% endif %}
                        </div>
                        <div class="c-content pl-32 pr-32 pb-40 pt-40">
                            <div class="event-date-wrap">
                                <span class="event-month">{{ object.event_start_date|datetimeformat('%b') }}</span>
                                <span class="event-date">{{ object.event_start_date|datetimeformat('%e') }}</span>
                            </div>
                            <h5 class="event glacial-blue-ice mb-16 p-small event-date-time">
                                {% if object.event_start_date|datetimeformat('%e/%m/%Y') ==  object.event_end_date|datetimeformat('%e/%m/%Y')  %}
                                <span><strong>Live by Zoom:</strong> {{ object.event_start_date|datetimeformat('%b. %e, %Y') }} | {{ object.start_time }} - {{ object.end_time }}</span>
                                {% else %}
                                <span><strong>Live by Zoom:</strong> {{ object.event_start_date|datetimeformat('%b. %e, %Y') }} - {{ object.event_end_date|datetimeformat('%b. %e, %Y') }}</span>
                                <br><span>{{ object.start_time }} - {{ object.end_time }}</span>
                                {% endif %}
                            </h5>
                            <div class="instructor-title mb-16">
                                {% for instructorname in instructor.results %}
                                {% if loop.index <= 3%}
                                {% if instructorname.name %}
                                <h5 class="des berry-jam mb-5">{{ instructorname.name }}</h5>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                            <h3 class="title midnight-blue mb-16 name">
                                {{ object.name }}
                            </h3>
                            
                            <div class="flex-row justify-bw align-center">
                                <div class="price glacial-blue-ice price" data-prices="{{ object.price__usd_ }}">{{ object.price__usd_|format_currency("en-US") }}</div>
                                {% if object.partner_logo_url %}
                                <img src="{{ object.partner_logo_url }}" width="48" loading="lazy">
                                {% endif %}
                                {% if object.badge_earning == "Yes" %}
                                <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Concept-medallion.svg" alt="PAU" loading="lazy">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            {% if total_pages >= page_number %}
            <a id="load-more" href="{{ content.absolute_url }}?page={{ page_number|add(1) }}"> 
                <svg width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3L25 19L47 3" stroke="url(#paint0_linear_452_1091)" stroke-width="5" stroke-linecap="round"/>
                    <path d="M3 23L25 39L47 23" stroke="#2488CD" stroke-width="5" stroke-linecap="round"/>
                    <defs>
                        <linearGradient id="paint0_linear_452_1091" x1="25" y1="1.4" x2="25" y2="19" gradientUnits="userSpaceOnUse">
                            <stop offset="0.112763" stop-color="#005A9C"/>
                            <stop offset="0.648378" stop-color="#2488CD"/>
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>

</div>




{#

{{require_js ('https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js')}}

{% require_js %}
<script>
    // external js: isotope.pkgd.js

    // store filter for each group
    var buttonFilters = {};   
    var buttonFilter;

    var newFilter;
    // quick search regex
    var qsRegex;
    // init Isotope
    var $grid = $('.isotope').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows',
        percentPosition: true,
        getSortData: {
            title: '.title',
            number: '.number',
            category: '[data-category]',
            price: function( itemElem ) { // function
                var weight = $( itemElem ).find('.price').attr('data-prices');
                console.log( weight +' '+ 'price')
                return parseFloat( weight.replace( /[\(\)]/g, '') );
            }  
        },
        filter: function() {
            var $this = $(this);
            var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
            var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
            return searchResult && buttonResult;
        }
    });

    // bind sort button click
    // ascending descending sort 
    $('#sorts').on('click', 'button', function() {
        /* Get the element name to sort */
        var sortValue = $(this).attr('data-sort-by');
        /* Get the sorting direction: asc||desc */
        var sortDirection = $(this).attr('data-sort-direction');
        /* convert it to a boolean */
        sortDirection = sortDirection == 'asc';
        /* pass it to isotope */
        $grid.isotope({ sortBy: sortValue, sortAscending: sortDirection });
    });




    $('.filter_button').on( 'click', '.button', function() {
        console.log('click');
        var $this = $(this);
        // get group key
        var $buttonGroup = $this.parents('.button-group');
        var filterGroup = $buttonGroup.attr('data-filter-group');
        // set filter for group
        buttonFilters[ filterGroup ] = $this.attr('data-filter');
        // combine filters
        buttonFilter = concatValues( buttonFilters );
        // Isotope arrange
        console.log('buttonFilter = ' + buttonFilter);
        //var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
        // var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;

        newFilter=buttonFilter;
        console.log('newFilter= ' + newFilter);
        /* pass it to isotope */
        $grid.isotope({filter:buttonFilter});
    });


    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $buttonGroup.find('.reset').removeClass('reset');
            $( this ).addClass('is-checked');
            $( this ).addClass('reset');   
        });
    });


    // use value of search field to filter
    var $quicksearch = $('.quicksearch').keyup( debounce( function() {
        qsRegex = new RegExp( $quicksearch.val(), 'gi' );

        //buttonFilters[0] = this.value;

        var ClearFilter;
        if(newFilter && newFilter.length > 0)
        {
            buttonFilter= newFilter;
        }
        else
        {
            buttonFilter= ''
        }

        $grid = $grid.isotope({
            filter: function() {
                var $this = $(this);
                var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
                var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
                return searchResult && buttonResult;
            }});


        //         $grid.isotope({
        //             filter: function() {
        //                 var $this = $(this);
        //                 var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
        //                 var buttonResult = buttonFilters;
        //                 return searchResult && buttonResult;
        //             }});
    }) );


    // flatten object by concatting values
    function concatValues( obj ) {
        var value = '';
        for ( var prop in obj ) {
            value += obj[ prop ];
        }
        return value;
    }

    // debounce so filtering doesn't happen every millisecond
    function debounce( fn, threshold ) {
        var timeout;
        threshold = threshold || 100;
        return function debounced() {
            clearTimeout( timeout );
            var args = arguments;
            var _this = this;
            function delayed() {
                fn.apply( _this, args );
            }
            timeout = setTimeout( delayed, threshold );
        };
    }



    //****************************
    // Isotope Load more button
    //****************************
    var initShow = 9; //number of items loaded on init & onclick load more button
    var counter = initShow; //counter for load more button
    var iso = $grid.data('isotope'); // get Isotope instance

    loadMore(initShow); //execute function onload

    function loadMore(toShow) {
        $grid.find(".hidden").removeClass("hidden");

        var hiddenElems = iso.filteredItems.slice(toShow, iso.filteredItems.length).map(function(item) {
            return item.element;
        });
        $(hiddenElems).addClass('hidden');
        $grid.isotope('layout');

        //when no more to load, hide show more button
        if (hiddenElems.length == 0) {
            jQuery("#load-more").hide();
        } else {
            jQuery("#load-more").show();
        };

    }

    //   //append load more button
    //   $grid.after('<button id="load-more"> Load More</button>');

    //when load more button clicked
    $("#load-more").click(function() {
        if ($('#filters').data('clicked')) {
            //when filter button clicked, set initial value for counter
            counter = initShow;
            $('#filters').data('clicked', false);
        } else {
            counter = counter;
        };

        counter = counter + initShow;

        loadMore(counter);
    });

    //when filter button clicked
    $("#filters").click(function() {
        $(this).data('clicked', true);

        loadMore(initShow);
    });


    // debounce so filtering doesn't happen every millisecond
    function debounce( fn, threshold ) {
        var timeout;
        return function debounced() {
            if ( timeout ) {
                clearTimeout( timeout );
            }
            function delayed() {
                fn();
                timeout = null;
            }
            setTimeout( delayed, threshold || 100 );
        };
    }
    //reset
    $('.reset').on( 'click', function() {
        var $this = $(this);

        buttonFilters = [];
        newFilter='';
        $('.quicksearch').val('');
        $grid.isotope({ filter: '*' });
        var $buttonGroup = $this.parents('.drop-down').find('.filters');
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $buttonGroup.find('.all-button').addClass('is-checked');
    });
</script>

{% end_require_js %}
#}