.three-col-content .row {
    margin-left: -16px;
    margin-right: -16px;
}
.three-col-content .top-row {
    max-width: 700px;
    margin: 0 auto;
}
.three-col-content .heading-1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
}
.three-col-content h3{
    line-height: 29px;
    letter-spacing: 0.02em;
}
.three-col-content .item > .inner {
    background: #fff;
    box-shadow: 0px 4px 10px rgba(36,136,205,0.12);
    border-radius: 24px;
    padding: 32px;
    padding-top: 56px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.three-col-content .img {
    min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}