<!--
    templateType: page
    isAvailableForNewContent: true
    label: Services - Aptitute 8 HubSpot Theme
    screenshotPath: ../images/template-previews/services.png
-->

{% extends './layouts/base.html' %}

{% block body %}

<main id="main-content" class="body-container-wrapper body-container">
  
  {# 1 Section - Header #}
  
  <section id="section-1">
    
  {% dnd_area 'section-1', label='section-1' %}
  
    {% dnd_section
      vertical_alignment='TOP',
      padding={
        'default': { 'top': 80, 'bottom': 0 },
         'mobile': { 'top': 36, 'bottom': 0 }
      }
    %}
 
      {% dnd_column %}

        {% dnd_row %}
  
          {% dnd_module path='@hubspot/rich_text', horizontal_alignment='CENTER' %}
            {% module_attribute 'html' %} 
                <p style="margin-bottom: 8px; text-align: center; color: {{ theme.global_colors.primary_colors.primary_color_1.color }}; font-size: 18px; font-weight: 400; max-width: 790px;">
                  Our Services
                </p>
                <h1 style="text-align: center; max-width: 790px; margin-bottom: 0px;">
                  High-impact services to take your business to the next level
                </h1>
            {% end_module_attribute %}
          {% end_dnd_module %}
  
        {% end_dnd_row %}
  
       {% end_dnd_column  %}
  
    {% end_dnd_section %}
  
  {% end_dnd_area %}
     
  </section>
  
  {# End 1 Section - Header #}
  
  
    
  {# 1.1 Section - Header Subtitle #}
  
  <section id="section-1-1">
    
  {% dnd_area 'section-1-1', label='section-1-1' %}
  
    {% dnd_section
      vertical_alignment='TOP',
      padding={
        'default': { 'top': 16, 'bottom': 0 },
         'mobile': { 'top': 16, 'bottom': 0 }
      }
    %}
 
      {% dnd_column %}

        {% dnd_row %}
  
          {% dnd_module path='@hubspot/rich_text', horizontal_alignment='CENTER' %}
            {% module_attribute 'html' %} 
                <p style="margin-bottom: 15px; text-align: center; max-width: 564px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus ante velit nunc morbi pretium. Ut nullam dolor, pulvinar proin viverra.
                </p>
            {% end_module_attribute %}
          {% end_dnd_module %}
  
        {% end_dnd_row %}
  
       {% end_dnd_column  %}
  
    {% end_dnd_section %}
  
  {% end_dnd_area %}
     
  </section>
  
  {# End 1.1 Section - Header Subtitle #}
  
  
  
  
  {# 2 Section - Cards #}
  
  <section id="section-2">
     
  {% dnd_area 'section-2', label='section-2' %}  

    {% dnd_section
      padding={
        'default': { 'top': 8, 'bottom': 24 },
        'mobile': { 'top': 8, 'bottom': 24 }
      },
      vertical_alignment='MIDDLE'
    %}
    
      {% dnd_module path='../modules/Aptitute 8 - Card', label="Aptitute 8 - Card - Custom",
            module_styles={
              'type_of_card': 'top_icon_bottom_content',
              'image_full_width': false
            },
            rows= 
            [
              {
                card:
                [
                
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_1.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Advanced Analytics</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_4.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Social Media Marketing</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_5.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Search Engine Optimization</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  }
                  
                ]
              },
              {
                card:
                [                
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_3.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Funnel Optimization</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_2.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Content Marketing</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/analytics_6.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Paid Advertising</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  }                  
                ]
              },
              {
                card:
                [                
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/writing.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Content Writing</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/youtube.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Video Marketing</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  },
                  {
                    image:{
                      src: "https://f.hubspotusercontent10.net/hubfs/8768169/Elements/Theme/icons/growth_2.svg",
                      alt: "Elements Image"
                    },
                    content: '<h3 style="margin-bottom: 8px;">Growth Hacking</h3><p style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consecteturor adipiscing elit. Tincidunt donec vulputate ipsum erat urna auctor. Eget phasellus ideirs.</p>',
                  }                  
                ]
              }             
            ]
          %}
          {% end_dnd_module %}
    
    {% end_dnd_section %}
  
  {% end_dnd_area %}
     
  </section>
  
  {# End 2 Section - FAQs #}
  

  
  {# 3 Section - Contact Us #}
  
  <section id="section-3">
     
  {% dnd_area 'section-3', label='section-3' %}  

    {% dnd_section
         padding={
         'default': { 'top': 32, 'bottom': 116 },
         'mobile': { 'top': 0, 'bottom': 64 }
        },
        vertical_alignment='MIDDLE'
    %}
    
            {% dnd_column %}

        {% dnd_row %}
  
          {% dnd_module path='@hubspot/rich_text', horizontal_alignment='CENTER' %}
            {% module_attribute 'html' %} 

                <h4 style="text-align: center; max-width: 480px;">
                  Looking for another marketing service?
                </h4>
                <p style="margin-bottom: 15px; text-align: center; max-width: 480px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium commodo, lorem sed dui viverra id auctor.
                </p>
            {% end_module_attribute %}
          {% end_dnd_module %}
  
        {% end_dnd_row %}
        
         {% dnd_row 
            margin={
              'default': { 'top': 16, 'bottom': 40 },
              'mobile': { 'top': 16, 'bottom': 24 }
            } 
          %}
            {% dnd_module path='../modules/Aptitute 8 - Buttons',
              button= [
                { 'button_text':'Contact Us', 'class_button':'btn-primary-dark' }
              ],
              settings= { button_align_desktop: 'center', button_align_mobile: 'center'  }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
  
       {% end_dnd_column  %}
    
    {% end_dnd_section %}
  
  {% end_dnd_area %}
     
  </section>
  
  {# End 3 Section - Contact Us #}
    


  
</main>
{% endblock body %}
