<!--
templateType: page
isAvailableForNewContent: true
label: Events
-->

{% extends './layouts/base.html' %}

{% block body %}

<main id="main-content" class="body-container-wrapper body-container event-page">
    {# 1 Section - Header #}
    {% module "module_16400867603456" path="../modules/Event Banner", label="Event Banner" %}
    {% if not dynamic_page_crm_object  %}
    <section id="section-1">
        {% dnd_area 'section-1', label='section-1' %}
        {% dnd_section  full_width="true" padding={ 'top':0, 'bottom':0, 'left':0 , 'right':0  }%}
        {% dnd_column  offset=0,  width=12 %}
        {% dnd_row %}
        {% dnd_module path='../modules/Course Filter' %}{% end_dnd_module %}
        {% end_dnd_row %}
        {% end_dnd_column  %}
        {% end_dnd_section %}

        {% dnd_section  padding={ 'default': { 'top': 96 },'mobile': { 'top': 40 } } %}
        {% dnd_column  offset=0,  width=12 %}
        {% dnd_row %}
        {% dnd_module path='../modules/Course Object' %}{% end_dnd_module %}
        {% end_dnd_row %}
        {% end_dnd_column  %}
        {% end_dnd_section %}

        {% end_dnd_area %}
    </section>
    {% endif %}
    {% if dynamic_page_crm_object  %}
    {% set object = dynamic_page_crm_object %}
    {% set type = object.course_type %}
    {% if type == "On Demand" %}
    <section id="section-2" class="demand-page">
        <div class="row-1">
            {% module "module_16394855436424" path="../modules/On Demand Banner", label="On Demand Banner" no_wrapper="true" %}
        </div>
        <div class="row-2">
            <div class="content-wrapper pt-96 pb-60 hs-course-content">
                <div class="flex-row flex-wrap align-center">
                    <div class="m-col-6 mmb-30">
                        <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Image-1.png">
                    </div>
                    <div class="m-col-6 pl-48 m-pl-0">
                        {% if object.ce_hours or object.length %}
                        <h2 class="ce-hours">{{ object.length }} {% if object.ce_hours and object.length %}|{% endif %} {{ object.ce_hours }}</h2>
                        {% endif %}
                        {% if object.description %}
                        <p>{{ object.description }}</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row-3">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="" sub_title="" item=[
                    { 
                        title: "Intended Audience",
                        content: "This on-demand professional training program is intended for mental health and other allied professionals",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "Experience Level",
                        content: "This on-demand professional training program is appropriate for beginner, intermediate, and advanced level clinicians.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "CE / CPD Credit",
                        content: "APA, ASWB, CPA, NBCC Click here for state and other regional board approvals.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Vector%2076.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-4 lobjectives pt-96">
            <div class="content-wrapper">
                <div class="flex-row justify-bw flex-wrap">
                    <div class="m-col-5 mmb-30">
                        <h2 class="venice-blue heading-1 mb-32">Learning Objectives</h2>
                        <h3 class="carbon-grey">Upon completion of this program you will be able to:</h3>
                    </div>
                    <div class="m-col-6">
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_2 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_2 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_3 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_3 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_4 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_4 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_5 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_5 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_6 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_6 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_7 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_7 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_8 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_8 }}</p>
                        </div>
                        {% endif %}
                        {% if object. learning_objective_9 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_9 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_10 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_10 }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-5">
            {% module "module_163957381370623" path="/Aptitude 8 Theme/modules/Presented By Slider", label="Presented By"  no_wrapper="true" %}
        </div>
        {% if object.curriculum_title_1 || object.curriculum_title_2 || object.curriculum_title_3 || object.curriculum_title_4 || object.curriculum_title_5 || object.curriculum_title_6 || object.curriculum_title_7 || object.curriculum_title_8 || object.curriculum_title_9 || object.curriculum_title_10%}
        <div class="row-6 curriculum pt-96 pb-96 PAU-gradient">
            <div class="content-wrapper">
                <div class="flex-row flex-wrap">
                    <div class="m-col-12">
                        <h2 class="text-center heading-1 mb-40 white-color">Curriculum</h2>
                    </div>
                    <div class="m-col-8 white-bg-color m-auto curriculum-item-wrapper">
                        {% if object.curriculum_title_1 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>1.</span> {{ object.curriculum_title_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_2 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>2.</span> {{ object.curriculum_title_2 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_3 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>3.</span> {{ object.curriculum_title_3 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_4 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>4.</span> {{ object.curriculum_title_4 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_5 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>5.</span> {{ object.curriculum_title_5 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_6 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>6.</span> {{ object.curriculum_title_6 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_7 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>7.</span> {{ object.curriculum_title_7 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_8 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>8.</span> {{ object.curriculum_title_8 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_9 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>9.</span> {{ object.curriculum_title_9 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_10 %}
                        <div class="curriculum-item flex-row align-center">
                            <p class="glacial-blue-ice"><span>10.</span> {{ object.curriculum_title_10 }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row-7">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="Develop a Specialty Area of Practice" sub_title="Transforming mental health professionals into experts" item=[
                    { 
                        title: "Expert Instructors",
                        content: "Professional training developed and delivered by the field's leading experts",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "CE Credit",
                        content: "Earn CE credit for meaningful professional training that will elevate your practice",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "Convenience & Flexibility",
                        content: "Learn at your own pace, from wherever you might be!",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Diamond_alt.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-8">
            {% module "module_163963675672717" path="../modules/Two Column With Image", label="Two Column With Image", no_wrapper="true", 
                top_subtitle="",
                title="Develop a Specialty Area of Practice",
                subtitle="Transforming mental health professionals into experts",
                content="Contact us to talk about group training rates and how we can make annual training and new staff onboarding simple!",
                button_text="Find Out More",
                button_link={"url" : {"content_id" : null,"type" : "EXTERNAL","href" : ""},"open_in_new_tab" : false,},
                image_field={src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/group_image.svg",alt: "Group Image"}
                      %}
        </div>
    </section>
    {% elif type == "Live" %}
    <section id="section-3" class="live-page">
        <div class="row-1">
            {% module "module_16394855436424" path="../modules/On Demand Banner", label="On Demand Banner" no_wrapper="true" %} 
        </div>
        <div class="row-2">
            <div class="content-wrapper pt-96 pb-60 hs-course-content">
                <div class="flex-row flex-wrap">
                    <div class="m-col-6 mmb-30">
                        <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Image-1.png">
                    </div>
                    <div class="m-col-6 pl-48 m-pl-0">
                        <h2 class="time">{{ object.event_date|datetimeformat('%B %e, %Y') }}<br>{{ object.event_time }} {{ object.event_time_zone }}</h2>
                        {% if object.ce_hours or object.length %}
                        <h3 class="ce-hours">{{ object.length }} {% if object.ce_hours and object.length %}|{% endif %} {{ object.ce_hours }}</h3>
                        {% endif %}
                        {% if object.early_registration_text %}
                        <h3 class="early-registration">{{ object.early_registration_text }}</h3>
                        {% endif %}
                        {% if object.description %}
                        <p>{{ object.description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-3">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="" sub_title="" item=[
                    { 
                        title: "Intended Audience",
                        content: "This on-demand professional training program is intended for mental health and other allied professionals",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "Experience Level",
                        content: "This on-demand professional training program is appropriate for beginner, intermediate, and advanced level clinicians.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "CE / CPD Credit",
                        content: "APA, ASWB, CPA, NBCC Click here for state and other regional board approvals.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Vector%2076.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-4">
            {% module "module_163957381370623" path="/Aptitude 8 Theme/modules/Presented By Slider", label="Presented By"  no_wrapper="true" %}
        </div>
        <div class="row-5 lobjectives pt-96">
            <div class="content-wrapper">
                <div class="flex-row justify-bw flex-wrap">
                    <div class="m-col-5 mmb-30">
                        <h2 class="venice-blue heading-1 mb-32">Learning Objectives</h2>
                        <h3 class="carbon-grey">Upon completion of this program you will be able to:</h3>
                    </div>
                    <div class="m-col-6">
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_2 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_2 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_3 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_3 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_4 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_4 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_5 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_5 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_6 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_6 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_7 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_7 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_8 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_8 }}</p>
                        </div>
                        {% endif %}
                        {% if object. learning_objective_9 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_9 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_10 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_10 }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-6">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="Live Event Policy" sub_title="" item=[
                    { 
                        title: "Event Communications",
                        content: "The Zoom login information will be sent 1-week, 1-day, and 1-hour before the start of the event. When registering, use an email that is active and that you check regularly. We are not responsible for communications not being received; if you do not add caps@paloaltou.edu to your email safe sender list, our emails are likely to end up in your spam or junk folders.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "Cancellation Policy",
                        content: "Have a sudden change of plans and are unable to attend live? No worries, you will be given access to the on-demand version of the program once available",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "Event Conduct",
                        content: "Please conduct yourself in a professional manner throughout the event. Our goal is to make this as interactive an experience as possible for all who attend. We reserve the right to remove any participants who are disruptive or who act unprofessionally.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Vector%2076.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-7">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="Develop a Specialty Area of Practice" sub_title="Transforming mental health professionals into experts" item=[
                    { 
                        title: "Expert Instructors",
                        content: "Professional training developed and delivered by the field's leading experts",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "CE Credit",
                        content: "Earn CE credit for meaningful professional training that will elevate your practice",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "Convenience & Flexibility",
                        content: "Learn at your own pace, from wherever you might be!",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Diamond_alt.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-8">
            {% module "module_163963675672718" path="../modules/Two Column With Image", label="Two Column With Image", no_wrapper="true", 
                top_subtitle="Program Partner",
                title="Protect International Risk and Safety Services",
                subtitle="",
                content="We are proud to partner with Protect International Risk and Safety Services for this trainging. Protect International’s threat assessment professionals are internationally recognized experts that have developed some of the world’s most widely used and best validated threat assessment tools. Protect International provides services and products related to violence risk assessment and management, also known as threat assessment and management. Protect International services and products include threat assessment training and support, case assessment and management, legal consulation, policy review and development, and program evaluation and research; along with threat assessment manuals, worksheets, licenses, and software applications for those tools.",
                button_text="Learn More",
                button_link={"url" : {"content_id" : null,"type" : "EXTERNAL","href" : "www.google.com"},"open_in_new_tab" : false},
                image_field={src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/company-Image.svg",alt: "Company Image"
                        } 
                      %}
        </div>
    </section>
    {% else %}
    <section id="section-2" class="demand-page">
        <div class="row-1">
            {% module "module_16394855436424" path="../modules/On Demand Banner", label="On Demand Banner" no_wrapper="true" %}
        </div>
        <div class="row-2">
            <div class="content-wrapper pt-96 pb-60 hs-course-content">
                <div class="flex-row flex-wrap align-center">
                    <div class="m-col-6 mmb-30">
                        <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Image-1.png">
                    </div>
                    <div class="m-col-6 pl-48 m-pl-0">
                        {% if object.ce_hours or object.length %}
                        <h2 class="ce-hours">{{ object.length }} {% if object.ce_hours and object.length %}|{% endif %} {{ object.ce_hours }}</h2>
                        {% endif %}
                        {% if object.description %}
                        <p>{{ object.description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-3">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="" sub_title="" item=[
                    { 
                        title: "Intended Audience",
                        content: "This on-demand professional training program is intended for mental health and other allied professionals",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "Experience Level",
                        content: "This on-demand professional training program is appropriate for beginner, intermediate, and advanced level clinicians.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "CE / CPD Credit",
                        content: "APA, ASWB, CPA, NBCC Click here for state and other regional board approvals.",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Vector%2076.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-4 lobjectives pt-96">
            <div class="content-wrapper">
                <div class="flex-row justify-bw flex-wrap">
                    <div class="m-col-5 mmb-30">
                        <h2 class="venice-blue heading-1 mb-32">Learning Objectives</h2>
                        <h3 class="carbon-grey">Upon completion of this program you will be able to:</h3>
                    </div>
                    <div class="m-col-6">
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_2 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_2 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_1%}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_3 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_3 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_4 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_4 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_5 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_5 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_6 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_6 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_7 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_7 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_8 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_8 }}</p>
                        </div>
                        {% endif %}
                        {% if object. learning_objective_9 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_9 }}</p>
                        </div>
                        {% endif %}
                        {% if object.learning_objective_10 %}
                        <div class="lea-item flex-row align-center mb-40">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/check.svg">
                            <p class="pl-40 midnight-blue">{{ object.learning_objective_10 }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-5">
            {% module "module_163957381370623" path="/Aptitude 8 Theme/modules/Presented By Slider", label="Presented By"  no_wrapper="true" %}
        </div>
        {% if object.curriculum_title_1 || object.curriculum_title_2 || object.curriculum_title_3 || object.curriculum_title_4 || object.curriculum_title_5 || object.curriculum_title_6 || object.curriculum_title_7 || object.curriculum_title_8 || object.curriculum_title_9 || object.curriculum_title_10%}
        <div class="row-6 curriculum pt-96 pb-96 PAU-gradient">
            <div class="content-wrapper">
                <div class="flex-row flex-wrap">
                    <div class="m-col-12">
                        <h2 class="text-center heading-1 mb-40 white-color">Curriculum</h2>
                    </div>
                    <div class="m-col-8 white-bg-color m-auto curriculum-item-wrapper">
                        {% if object.curriculum_title_1 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>1.</span> {{ object.curriculum_title_1 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_2 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>2.</span> {{ object.curriculum_title_2 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_3 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>3.</span> {{ object.curriculum_title_3 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_4 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>4.</span> {{ object.curriculum_title_4 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_5 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>5.</span> {{ object.curriculum_title_5 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_6 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>6.</span> {{ object.curriculum_title_6 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_7 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>7.</span> {{ object.curriculum_title_7 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_8 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>8.</span> {{ object.curriculum_title_8 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_9 %}
                        <div class="curriculum-item flex-row align-center mb-40">
                            <p class="glacial-blue-ice"><span>9.</span> {{ object.curriculum_title_9 }}</p>
                        </div>
                        {% endif %}
                        {% if object.curriculum_title_10 %}
                        <div class="curriculum-item flex-row align-center">
                            <p class="glacial-blue-ice"><span>10.</span> {{ object.curriculum_title_10 }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row-7">
            {% module "module_163956690687710" path="../modules/Three Column Content", no_wrapper="true" title="Develop a Specialty Area of Practice" sub_title="Transforming mental health professionals into experts" item=[
                    { 
                        title: "Expert Instructors",
                        content: "Professional training developed and delivered by the field's leading experts",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Desk_alt.svg" }
                    },
                    { 
                        title: "CE Credit",
                        content: "Earn CE credit for meaningful professional training that will elevate your practice",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Star%201.svg" }
                    },
                    { 
                        title: "Convenience & Flexibility",
                        content: "Learn at your own pace, from wherever you might be!",
                        icon_image: { src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/Diamond_alt.svg" }
                    }

                ]

                %}
        </div>
        <div class="row-8">
            {% module "module_163963675672717" path="../modules/Two Column With Image", label="Two Column With Image", no_wrapper="true", 
                top_subtitle="",
                title="Develop a Specialty Area of Practice",
                subtitle="Transforming mental health professionals into experts",
                content="Contact us to talk about group training rates and how we can make annual training and new staff onboarding simple!",
                button_text="Find Out More",
                button_link={"url" : {"content_id" : null,"type" : "EXTERNAL","href" : ""},"open_in_new_tab" : false,},
                image_field={src: "https://f.hubspotusercontent20.net/hubfs/20705724/Palo_2021/images/group_image.svg",alt: "Group Image"}
                      %}
        </div>
    </section>
    {% endif %}
    {% endif %}

    {% module "module_164009354483518" path='/Aptitude 8 Theme/modules/Two Column With Image', label="Two Column With Image" %}


    <style>
        .event-page .two-col-image-wrapper .two-col-image-inner {
            background: #9D1D64;
            border-radius: 16px;
            padding: 60px 50px;
        }

        .event-page .two-col-image-wrapper .content-col h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 132%;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            text-shadow: 0px 2px 4px rgba(222, 42, 74, 0.05);
        }

        .event-page .two-col-image-wrapper .content-col p {
            line-height: 160%;
            color: #FFFFFF;
            margin: 16px 0px;
        }

        .event-page .two-col-image-wrapper .content-col {
            padding-right: 40px;
        }

        .event-page .two-col-image-wrapper .content-col .button-wrap a {
            margin: 10px 0;
            color: #005A9C;
            font-size: 16px;
            line-height: 160%;
            background: #fff;
            padding: 20px 30px;
        }

        .event-page .two-col-image-wrapper .image-col img {
            border-radius: 16px;
        }

        @media (max-width: 767px){
            .event-page .two-col-image-wrapper .two-col-image-inner {
                padding: 40px;
            }

            .event-page .two-col-image-wrapper .content-col, 
            .event-page .two-col-image-wrapper .image-col {
                padding: 0;
            }

            .event-page .two-col-image-wrapper .content-col {
                padding-right: 0;
            }

            .event-page .two-col-image-wrapper .content-col h2 {
                font-size: 28px;
            }
        }
    </style>
</main>
{% endblock body %}
