<!--
templateType: blog_listing
isAvailableForNewContent: true
label: Translating Research Into Practice Listing - Aptitute 8 HubSpot Theme
screenshotPath: ../images/template-previews/blog-v1.png
-->
{% extends './layouts/base.html' %}

{% block body %}

<main id="main-content" class="body-container-wrapper cm-blog-listing">
    <div class="body-container body-container--blog-index">
        {# Blog Banner #}
        {% module "blog_banner" path="../modules/Blog Banner", label="Blog Banner" %}
        {# End blog banner #}
        <div class="blog-listing-group">
        <div class="content-wrapper">
            <div class="blog-listing-wrapper">
                {# Blog listing #}
                {% for content in contents %}
                <div class="post-item">
                    <div class="inner">
                        {% if content.featured_image and group.use_featured_image_in_summary %}
                        <div class="featured-image">
                            <a href="{{ content.absolute_url }}">
                                <img src="{{ content.featured_image }}" alt="{{ content.name|striptags }}">
                            </a>
                        </div>
                        {% endif %}
                        <div class="post-item-content">
                            <div class="post-item-inner-content">
                                <h2><a href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
                                <p>{{ content.widgets.listing_summary.body.value| striptags | truncatehtml(150, '', false) }}</p>
                            </div>
                            <div class="post-meta">
                                <div class="post-meta-details {% if not content.blog_author.avatar %}no-author-image{% endif %}">
                                    {% if content.blog_author.avatar %}
                                    <div class="author-image">
                                        <a href="{{ blog_author_url(group.id, content.blog_author.slug) }}"><img src="{{ content.blog_author.avatar }}" alt="{{ content.blog_author.display_name|striptags }}"></a> 
                                    </div>
                                    {% endif %}
                                    <div class="author-title-wrapper">
                                        <p class="author-title"><a href="{{ blog_author_url(group.id, content.blog_author.slug) }}">{{ content.blog_author.display_name }}</a></p>
                                        <p class="date">{{ content.publish_date_local_time.strftime('%B %e, %Y') }}</p>
                                    </div>
                                </div>
                                <div class="post-meta-content">
                                    <a href="{{ content.absolute_url }}">Content</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {# End blog listing #}

                {# Blog pagination #}
                {% if contents.total_page_count > 1 %}
                <nav class="blog-pagination-wrapper" aria-label="Pagination" role="navigation">
                    {% set page_list = [-2, -1, 0, 1, 2] %}
                    {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
                    {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
                    {% elif current_page_num == 2 %}{% set offset = 1 %}
                    {% elif current_page_num == 1 %}{% set offset = 2 %}
                    {% else %}{% set offset = 0 %}{% endif %}

                    <a class="blog-pagination_link blog-pagination_prev-link {{ 'blog-pagination_prev-link--disabled' if !last_page_num }}"{% if last_page_num %} href="{% if current_page_num == 2 %}{{ group.absolute_url }} {% else %}{{ blog_page_link(last_page_num) }}{% endif %}" rel="prev"{% else %} aria-disabled="true" disabled {% endif %} role="button" aria-label="Go to previous page">
                        Prev
                    </a>
                    {% for page in page_list %}
                    {% set this_page = current_page_num + page + offset %}
                    {% if this_page > 0 and this_page <= contents.total_page_count %}
                    <a class="blog-pagination_link blog-pagination_number-link {{ 'blog-pagination_link--active' if this_page == current_page_num }}" aria-label="Go to Page {{ this_page }}" {% if this_page == current_page_num %}aria-current="true"{% endif %} href="{% if this_page == 1 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(this_page) }}{% endif %}">{{ this_page }}</a>
                    {% endif %}
                    {% endfor %}
                    <a class="blog-pagination_link blog-pagination_next-link {{ 'blog-pagination_next-link--disabled' if !next_page_num }}"{% if next_page_num %} href="{{ blog_page_link(current_page_num + 1) }}"  rel="prev" {% else %} aria-disabled="true" disabled {% endif %} role="button" aria-label="Go to next page">
                        Next
                    </a>
                </nav>
                {% endif %}
                {# End blog pagination #}
                
                {% module "module_16393953639035" path="../modules/Subscribe Newsletter", label="Subscribe Newsletter" %}
                {% dnd_area 'section-1', label='Bottom Section' %}
                {% end_dnd_area %}
            </div>
        </div>
        </div>
    </div>
</main>

{% endblock body %}