{# {% set instructor = crm_objects("instructors", "limit=100", "name" ) %} #}

{% set instructor = crm_objects("courses" ) %}
{% set total_pages = instructor.total|divide(batch_num) %}
{% set more_pages = total_pages - page_num %}

{% set per_page = 12 %}
{% set offset_number = 0 %}
{% set total_pages = instructor.total|divide(per_page)| round + 2 %}

{% set hours = crm_objects("instructors" ) %}
{% set total_pages = hours.total|divide(batch_num) %}

{% set total_pages = instructor.total|divide(per_page)| round + 2 %}




{% if not request.query_dict.page %}
{% set page_number = 1 %}
{% elif request.query_dict.page %}
{% set page_number = request.query_dict.page %}
{% set offset_number = (page_number - 1) * per_page %}
{% endif %}

{# the database query #}

{% set query = "order=first_name&limit=" ~ per_page ~ "&offset=" ~ offset_number %}

{% set hours = crm_objects("courses", query , "ce_hours") %}
{% for i in range(2,total_pages) %}


<a class="hoursData" href="{{ content.absolute_url }}?page={{i}}"></a>
{% endfor %}



{% set instructor = crm_objects("instructors", query , "name") %}
{% for i in range(2,total_pages) %}
<a class="instructorData" href="https://concept-paloaltou-edu.sandbox.hs-sites.com/our-presenters?page={{ i }}"></a>
{% endfor %}


{% set course = crm_objects("courses", "limit=200", "presented_by, name" , "formatting=true") %}
{#{% set course2 = crm_objects("courses", "orderBy=presented_by&presented_by__not_null&limit=100", "ce_hours, presented_by, name" , "formatting=true") %}#}
{% set formate =  crm_property_definition("courses", "course_type", "event_start_date") %}
{# {% set Partnership =  crm_property_definition("courses", "presented_by") %} #}
{% set Certificates =  crm_property_definition("courses", "certificate") %}
{% set SpecialtyArea =  crm_property_definition("courses", "specialty_area") %}
{% set Partnership =  crm_property_definition("courses", "in_partnership_with_dropdown") %}
{% set CEHours =  crm_property_definition("courses", "ce_hours_dropdown") %}
{% set Presenters =  crm_property_definition("courses", "presenter_s_dropdown") %}





<!-- =========================== CEHours =================================== -->
<!-- =========================== CEHours =================================== -->



{% require_js %}
<!-- <script>
$(window).on('load', function(){
$(".instructorData").each(function(index){
var $button = $(this);
var next_page = $button.attr("href");   
console.log("execute next")
var $items = $("<div id=instructors>").load(next_page + " #instructors .button", function(response, status, xhr ) {
$( "#instructors" ).append($items[0].innerHTML);
});
});

//          $(".hoursData").each(function(index){
//             var $button = $(this);
//             var next_page = $button.attr("href");   
//             console.log("execute next hours")
//             var $items = $("<div id=hours>").load(next_page + " #hours .button", function(response, status, xhr ) {
//                 console.log('HI' , $items[0].innerHTML);
//                 $("#hours").append($items[0].innerHTML);
//             });
//         });

})

</script> -->
{% end_require_js %}
<!-- =========================== Instructors =================================== -->
<div id="loader_section" class="load_page">
    <div class="load_page_iner">
        <svg width="132px" height="58px" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="#2488cd" stroke="none" cx="6" cy="50" r="6">
                <animate
                         attributeName="opacity"
                         dur="1s"
                         values="0;1;0"
                         repeatCount="indefinite"
                         begin="0.1"/>    
            </circle>
            <circle fill="#2488cd" stroke="none" cx="26" cy="50" r="6">
                <animate
                         attributeName="opacity"
                         dur="1s"
                         values="0;1;0"
                         repeatCount="indefinite" 
                         begin="0.2"/>       
            </circle>
            <circle fill="#2488cd" stroke="none" cx="46" cy="50" r="6">
                <animate
                         attributeName="opacity"
                         dur="1s"
                         values="0;1;0"
                         repeatCount="indefinite" 
                         begin="0.3"/>     
            </circle>
        </svg>
        <text id="Loading">Loading...</text>
    </div>

</div>
<div class="course-filter">
    <div class="content-wrapper">
        <div class="flex-row mb-72 flex-end flex-wrap">
            <div class="m-col-5 m-mb-30">
                <div class="inner">
                    <h1 class="white-color">{{ module.title }}</h1>
                    <p class="white-color">{{ module.content }}</p>
                </div>
            </div>
            <div class="m-col-7">
                <div class="inner-wrap inst-content">
                    <p>
                        <input type="text" class="quicksearch" placeholder="Search your program:" />
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                <path d="M10.5334 20.0668C15.7985 20.0668 20.0668 15.7985 20.0668 10.5334C20.0668 5.26824 15.7985 1 10.5334 1C5.26824 1 1 5.26824 1 10.5334C1 15.7985 5.26824 20.0668 10.5334 20.0668Z" stroke="#C6CFDA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.2754 17.2739L23.0013 22.9998" stroke="#C6CFDA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row-fluid-wrapper" >
            <div class="classes-filter {% if dynamic_page_crm_object %}hidden{% endif %}">
                <div class="row-1 row--flex">
                    <div class="filter-section">
                        <div class="drop-down">
                            <div class="filters flex-row ">
                                <div class="ui-group area">
                                    <h3>
                                        <span data-init="Class Type">Specialty Area</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="specialty">
                                        <button class="button all-button" data-filter="*">Select All</button>
                                        <button class="button" data-filter=".clinicalchildadolescent">Clinical Child &amp; Adolescent</button>
                                        <button class="button" data-filter=".clinicalneuropsychology">Clinical Neuropsychology</button>
                                        <button class="button" data-filter=".counselingpracticeessentials">Counseling &amp; Clinical Practice Essentials</button>
                                        <button class="button" data-filter=".digitaltelehealth">Digital &amp; Telehealth</button>
                                        <button class="button" data-filter=".evidencebasedinterventions">Evidence-Based Interventions</button>
                                        <button class="button" data-filter=".fireservice">Fire Service</button>
                                        <button class="button" data-filter=".forensic">Forensic</button>
                                        <button class="button" data-filter=".policepublicsafety">Police &amp; Public Safety</button>
                                    </div>
                                </div>
                                <div class="ui-group formate">
                                    <h3>
                                        <span data-init="Studio">Format</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="format" id="hours">
                                        <button class="button all-button" data-filter="*">Select All</button>
                                        {% for item in  formate.options %}
                                        <button class="button"  data-sort-by="date" data-filter=".{{item.label|regex_replace("[^a-zA-Z]", "")|lower}}">{{ item.label }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ui-group hours">
                                    <h3>
                                        <span data-init="Coach/Organi">CE Hours</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="cehours" id="hours">
                                        <button class="button all-button" data-filter="*">Select All </button>
                                        {#
                                        {% for item in newArr|sort(False, False) %}
                                        #}
                                        {% for item in CEHours.options|sort(False, False) %}
                                        <button class="button" data-filter=".{{ item.value|replace('.', '-') }}">{{ item.value }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ui-group certificate">
                                    <h3>
                                        <span data-init="Fees">Certificates</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="certificates">
                                        <button class="button all-button" data-filter="*">Select All</button>
                                        {% for item in Certificates.options %}

                                        {% if item.label == "Maternal Mental Health" || item.label =="Revised NICHD Interview Protocol" %}
                                        {% else %}
                                        <button class="button" data-filter=".{{item.value|regex_replace("[^a-zA-Z^0-9]", "")|lower}}">{{ item.label }}</button>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ui-group instructor">
                                    <h3>
                                        <span data-init="Venue">Presenters</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="instructors" id="instructors">
                                        <button class="button all-button" data-filter="*">Select All</button>
                                        {% for item in Presenters.options|sort(False, False, 'label') %}
                                        <button class="button" data-filter=".{{item.value|regex_replace("[^a-zA-Z^0-9]", "")|lower }}">{{ item.label }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ui-group partner">
                                    <h3>
                                        <span data-init="Venue">In Partnership With</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group js-radio-button-group filter_button" data-filter-group="partnership">
                                        <button class="button all-button" data-filter="*">Select All</button>
                                        {% for item in  Partnership.options %}
                                        <button class="button" data-filter=".{{item.label|regex_replace("[^a-zA-Z]", "-")|lower}}">{{ item.label }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ui-group recent">
                                    <h3>
                                        <span data-init="Venue">Sort By Most Recent</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                            <path d="M9 1L5.18844 4.91964C5.16371 4.94512 5.13434 4.96533 5.102 4.97911C5.06967 4.9929 5.035 5 5 5C4.965 5 4.93033 4.9929 4.898 4.97911C4.86566 4.96533 4.83629 4.94512 4.81156 4.91964L1 1" stroke="#0B3253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </h3>
                                    <div class="button-group sort-by-button-group js-radio-button-group" id="sorts">
                                        <button class="button all-button hidden" data-filter="*">Most Recent</button>
                                        <button class="button" data-sort-by="date" data-sort-direction="asc">Most Recent</button>
                                        <button class="button" data-sort-by="price" data-sort-direction="asc">Price (Low to High)</button>
                                        <button class="button" data-sort-by="price" data-sort-direction="desc">Price (High to Low)</button>
                                        <button class="button" data-sort-by="number" data-sort-direction="asc" data-sort-by="number" >CE Hours</button>
                                        <button class="button" data-sort-by="title" data-sort-direction="asc">A-Z</button>
                                        <button class="button" style="display:none" id="Format" data-sort-by="format" data-sort-direction="asc">Format</button>
                                    </div>
                                </div>
                            </div>
                            <p><button class="button reset">Reset filters</button></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% require_css %}
<style>
    {% scope_css %}
    {% set c1 = module.style.background_color.color %}
    {% set c2 = module.style.background_color_two.color %}
    .course-filter{
        background: linear-gradient(180deg, {{ c1 }} 2.4%, {{ c2 }} 61.32%);
        {{ module.style.desktop.spacing_field.css }};
        {{ module.style.border_field.css }};
        {{ module.style.gradient_field.css }}
    }
    @media(max-width:767px){
        .course-filter{
            {{ module.style.mobile.spacing_field.css }}
        }
    }

    {% end_scope_css %}
</style>
{% end_require_css %}

{{require_js ('https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js')}}

{% require_js %}
<script>




    function getHashFilter() {
        var hash = location.hash;
        // get filter=filterName
        var matches = location.hash.match( /filter=([^&]+)/i );
        var hashFilter = matches && matches[1];
        return hashFilter && decodeURIComponent( hashFilter );
    }


    // external js: isotope.pkgd.js

    // store filter for each group
    var buttonFilters = {};   
    var buttonFilter;

    var newFilter;
    // quick search regex
    var qsRegex;
    // init Isotope
    var $grid = $('.isotope').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows',
        percentPosition: true,
        sortBy: [ 'date', 'format' ],
        getSortData: {
            format: '.format',
            title: '.title',
            number: '.number',
            date:'.date',
            category: '[data-category]',
            price: function( itemElem ) { // function
                var weight = $( itemElem ).find('.price').attr('data-prices');
                //                 console.log( weight +' '+ 'price')
                return parseFloat( weight.replace( /[\(\)]/g, '') );
            }
        },
        filter: function() {
            var $this = $(this);
            var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
            var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
            return searchResult && buttonResult;
        },
        //         transitionDuration: 0,
        //         hiddenStyle: {
        //             opacity: 0
        //         },
        //         visibleStyle: {
        //             opacity: 1
        //         }
    });

    $grid.isotope({
        sortBy: [ 'date', 'format' ],
        getSortData : {
            date : function ( $elem ) {
                return $elem.find('.date').text();
            },
            format: function ( $elem ) {
                return $elem.find('.format').text();
            }
        },
    });

    // bind sort button click
    // ascending descending sort 
    $('#sorts').on('click', 'button', function() {
        /* Get the element name to sort */
        var sortValue = $(this).attr('data-sort-by');
        /* Get the sorting direction: asc||desc */
        var sortDirection = $(this).attr('data-sort-direction');
        /* convert it to a boolean */
        sortDirection = sortDirection == 'asc';
        /* pass it to isotope */
        $grid.isotope({ sortBy: sortValue, sortAscending: sortDirection });
    });



    $('.filter_button').on( 'click', '.button', function() {
        // console.log('click');
        var $this = $(this);
        // get group key
        var $buttonGroup = $this.parents('.button-group');
        var filterGroup = $buttonGroup.attr('data-filter-group');
        // set filter for group
        buttonFilters[ filterGroup ] = $this.attr('data-filter');
        // combine filters
        buttonFilter = concatValues( buttonFilters );
        // Isotope arrange
        // console.log('buttonFilter = ' + buttonFilter);
        //var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
        // var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;

        newFilter=buttonFilter;
        // console.log('newFilter= ' + newFilter);
        /* pass it to isotope */
        $grid.isotope({filter:buttonFilter});
    });


    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $buttonGroup.find('.reset').removeClass('reset');
            $( this ).addClass('is-checked');
            $( this ).addClass('reset');   

            $('.filters .ui-group').removeClass('active')
            $('.filters .button-group').slideUp();
            //console.log("tes")
            if ( event.target.previousElementSibling != undefined) {         
                event.target.parentElement.previousElementSibling.children[0].textContent = event.target.innerText
            }
            
        });
    });


    // use value of search field to filter
    var $quicksearch = $('.quicksearch').keyup( debounce( function() {
        qsRegex = new RegExp( $quicksearch.val(), 'gi' );

        //buttonFilters[0] = this.value;

        var ClearFilter;
        if(newFilter && newFilter.length > 0)
        {
            buttonFilter= newFilter;
        }
        else
        {
            buttonFilter= ''
        }

        $grid = $grid.isotope({
            filter: function() {
                var $this = $(this);
                var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
                var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
                return searchResult && buttonResult;
            }});


        //         $grid.isotope({
        //             filter: function() {
        //                 var $this = $(this);
        //                 var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
        //                 var buttonResult = buttonFilters;
        //                 return searchResult && buttonResult;
        //             }});
    }) );


    // flatten object by concatting values
    function concatValues( obj ) {
        var value = '';
        for ( var prop in obj ) {
            value += obj[ prop ];
        }
        return value;
    }

    // debounce so filtering doesn't happen every millisecond
    function debounce( fn, threshold ) {
        var timeout;
        threshold = threshold || 100;
        return function debounced() {
            clearTimeout( timeout );
            var args = arguments;
            var _this = this;
            function delayed() {
                fn.apply( _this, args );
            }
            timeout = setTimeout( delayed, threshold );
        };
    }





    // debounce so filtering doesn't happen every millisecond
    function debounce( fn, threshold ) {
        var timeout;
        return function debounced() {
            if ( timeout ) {
                clearTimeout( timeout );
            }
            function delayed() {
                fn();
                timeout = null;
            }
            setTimeout( delayed, threshold || 100 );
        };
    }
    //reset
    $('.reset').on( 'click', function() {
        var $this = $(this);
        buttonFilters = [];
        newFilter='';
        $('.quicksearch').val('');
        $grid.isotope({ filter: '*' });
        var $buttonGroup = $this.parents('.drop-down').find('.filters');
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $buttonGroup.find('.all-button').addClass('is-checked');
    });


    var isIsotopeInit = false;

    function onHashchange(event) {
        var hashFilter = getHashFilter();
        if ( !hashFilter && isIsotopeInit ) {
            return;
        }
        isIsotopeInit = true;
        // filter isotope
        $grid.isotope({
            itemSelector: '.element-item',
            filter: hashFilter
        });
        // set selected class on button
        if ( hashFilter ) {
            console.log(hashFilter)
        }
    }


    // trigger event handler to init Isotope

    $( document ).ready(function() {
        //         $(".load_page").show();
        $('.load_page').css('opacity', 1);
        $('.course-obj, .course-filter').css('opacity', 0);
        //console.log('hide')

        var loadmore = 1;
        var  countItems=0;
        var TotalCount =$(".courseData").length;

        $(".courseData").each(function(index){
            var $button = $(this);
            var next_page = $button.attr("href");    
            var $items = $("<div id=load>").load(next_page + " #load .element-item", function(response, status, xhr ) {
                $('.isotope').isotope( 'insert', $items );
                var count = $(".isotope").children().length;
                countItems=countItems+1;
                if(TotalCount==countItems)
                {
                    loadmore=0;
                    $('.load_page').css('opacity', 0);
                    $(".load_page").hide();
                    $('.course-obj, .course-filter').css('opacity', 1);
                    //                     $(".load_page").hide();
                    //console.log('show');
                    $('#Format').click();
                }

            });

        });



        //****************************
        // Isotope Load more button
        //****************************
        //         setTimeout(function(){
        //             var initShow = 9; //number of items loaded on init & onclick load more button
        //             var counter = initShow; //counter for load more button
        //             var iso = $grid.data('isotope'); // get Isotope instance

        //             loadMore(initShow); //execute function onload

        //             function loadMore(toShow) {
        //                 $grid.find(".hidden").removeClass("hidden");

        //                 var hiddenElems = iso.filteredItems.slice(toShow, iso.filteredItems.length).map(function(item) {
        //                     return item.element;
        //                 });
        //                 $(hiddenElems).addClass('hidden');
        //                 $grid.isotope('layout');

        //                 //when no more to load, hide show more button
        //                 if (hiddenElems.length == 0) {
        //                     jQuery("#load-more").hide();
        //                 } else {
        //                     jQuery("#load-more").show();
        //                 };

        //             }

        //             //append load more button
        //             //   $grid.after('<button id="load-more"> Load More</button>');

        //             //when load more button clicked
        //             $("#load-more").click(function() {
        //                 if ($('#filters').data('clicked')) {
        //                     //when filter button clicked, set initial value for counter
        //                     counter = initShow;
        //                     $('#filters').data('clicked', false);
        //                     } else {
        //                     counter = counter;
        //                 };

        //                 counter = counter + initShow;

        //                 loadMore(counter);
        //             });

        //             //when filter button clicked
        //             $("#filters").click(function() {
        //                 $(this).data('clicked', true);

        //                 loadMore(initShow);
        //             });
        //         }, 6000)


    });
    $(window).on( 'hashchange', onHashchange );
    $(window).on('load', function(){
        onHashchange();
    })



</script>

{% end_require_js %}